[include]
  path = ./themes.gitconfig
  path = ~/.local/share/nvim/lazy/tokyonight.nvim/extras/delta/tokyonight_night.gitconfig
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
  colorMovedWS = allow-indentation-change
  algorithm = histogram
[rebase]
  autoStash = true
[init]
  defaultBranch = main
[rerere]
  enabled = true
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
  prune = true
  prunetags = true
[receive]
  fsckobjects = true
[branch]
  sort = -committerdate
[pager]
  stash = false
[core]
  pager = delta --paging=always
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  syntax-theme = tokyonight_night
  true-color = always
  file-removed-label = 󰮘
  file-added-label = 󰝒
  file-modified-label = 󰤘
  file-renamed-label = 󰪹
  features = chameleon
  side-by-side = false
